@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFF0F0;
  --primary-100: #1F1F1F;
  --primary-200: #383838;
  --neutral-100: #F1A280;
  --neutral-200: #E4D275;
  --neutral-300: #CEEAE8;
}

/* dropdown */

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .icon {
  transform: rotate(180deg);
}

/* border lines */

.border-line:not(:last-child)::before { /*  for all lines except the last */
  content: "";
  position: absolute;
  width: 950px;
  height: 1px;
  bottom: 0;
  left: 0%;
  right: 0px;
  background-color: black;
}

@media(max-width: 1024px) {
  .border-line:not(:last-child)::before {
   left: auto;
   right: auto;
   width: 100%;
  }

  .border-line::before { /* for the last line */
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    width: 100%;
    background-color: black;
  }
}

/* header styles for next ui */

.wrapper-classes {
  width: 100%;
  max-width: 1380px;
  position: relative;
  padding: 1.5rem 1rem;
}

@media(min-width: 1024px) {
  .wrapper-classes {
    padding: 0rem 5rem;
  }
}

@media(min-width: 768px) {
  .wrapper-classes {
    padding: 0rem 3.5rem;
  }
}

.equal-height-cards .cell {
  display: flex;
  align-items: stretch;
}

