@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFF0F0;
  --primary-100: #1F1F1F;
  --primary-200: #383838;
  --neutral-100: #F1A280;
  --neutral-200: #E4D275;
  --neutral-300: #CEEAE8;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .icon {
  transform: rotate(180deg);
}
